
.block{
    width: 32px;
    height: 32px;
    background-image: url(../img/blocks.png);
}

.block-barrier,
.block-carpet_colored_purple,
.block-concrete_green,
.block-concrete_powder_orange,
.block-dirt_podzol_side,
.block-glass_red,
.block-glazed_terracotta_purple,
.block-hardened_clay_stained_light_blue,
.block-iron_block,
.block-log_oak_top,
.block-planks_oak,
.block-sea_lantern,
.block-stone_granite,
.block-wool_colored_pink{
	background-position-x: -000%
}

.block-beacon,
.block-carpet_colored_red,
.block-concrete_light_blue,
.block-concrete_powder_pink,
.block-emerald_block,
.block-glass_silver,
.block-glazed_terracotta_red,
.block-hardened_clay_stained_lime,
.block-iron_trapdoor,
.block-log_spruce,
.block-planks_spruce,
.block-slabs_acacia,
.block-stone_slab,
.block-wool_colored_purple{
	background-position-x: -100%
}

.block-bedrock,
.block-carpet_colored_silver,
.block-concrete_lime,
.block-concrete_powder_purple,
.block-end_stone,
.block-glass_white,
.block-glazed_terracotta_silver,
.block-hardened_clay_stained_magenta,
.block-jukebox_top,
.block-log_spruce_top,
.block-prismarine,
.block-slabs_big_oak,
.block-tnt_side,
.block-wool_colored_red{
	background-position-x: -200%
}

.block-brick,
.block-carpet_colored_white,
.block-concrete_magenta,
.block-concrete_powder_red,
.block-glass_black,
.block-glass_yellow,
.block-glazed_terracotta_white,
.block-hardened_clay_stained_orange,
.block-lapis_block,
.block-magma,
.block-prismarine_bricks,
.block-slabs_birch,
.block-water_bucket,
.block-wool_colored_silver{
	background-position-x: -300%
}

.block-carpet_colored_black,
.block-carpet_colored_yellow,
.block-concrete_orange,
.block-concrete_powder_silver,
.block-glass_blue,
.block-glazed_terracotta_black,
.block-glazed_terracotta_yellow,
.block-hardened_clay_stained_pink,
.block-leaves,
.block-melon_side,
.block-prismarine_dark,
.block-slabs_jungle,
.block-web,
.block-wool_colored_white{
	background-position-x: -400%
}

.block-carpet_colored_blue,
.block-clay,
.block-concrete_pink,
.block-concrete_powder_white,
.block-glass_brown,
.block-glazed_terracotta_blue,
.block-glowstone,
.block-hardened_clay_stained_purple,
.block-light_weighted_pressure_plate,
.block-mycelium_side,
.block-purpur_block,
.block-slabs_oak,
.block-wool_colored_black,
.block-wool_colored_yellow{
	background-position-x: -500%
}

.block-carpet_colored_brown,
.block-coal_block,
.block-concrete_powder_black,
.block-concrete_powder_yellow,
.block-glass_cyan,
.block-glazed_terracotta_brown,
.block-gold_block,
.block-hardened_clay_stained_red,
.block-log_acacia,
.block-nether_brick,
.block-purpur_slab,
.block-slabs_spruce,
.block-wool_colored_blue{
	background-position-x: -600%
}

.block-carpet_colored_cyan,
.block-coarse_dirt,
.block-concrete_powder_blue,
.block-concrete_purple,
.block-glass_gray,
.block-glazed_terracotta_cyan,
.block-grass_side,
.block-hardened_clay_stained_silver,
.block-log_acacia_top,
.block-nether_brick_slab,
.block-quartz_block_side,
.block-slime,
.block-wool_colored_brown{
	background-position-x: -700%
}

.block-carpet_colored_gray,
.block-cobblestone,
.block-concrete_powder_brown,
.block-concrete_red,
.block-glass_green,
.block-glazed_terracotta_gray,
.block-hardened_clay,
.block-hardened_clay_stained_white,
.block-log_big_oak,
.block-nether_wart_block,
.block-quartz_slab,
.block-snow,
.block-wool_colored_cyan{
	background-position-x: -800%
}

.block-carpet_colored_green,
.block-cobblestone_slab,
.block-concrete_powder_cyan,
.block-concrete_silver,
.block-glass_light_blue,
.block-glazed_terracotta_green,
.block-hardened_clay_stained_black,
.block-hardened_clay_stained_yellow,
.block-log_big_oak_top,
.block-netherrack,
.block-red_sand,
.block-snow_layer,
.block-wool_colored_gray{
	background-position-x: -900%
}

.block-carpet_colored_light_blue,
.block-concrete_black,
.block-concrete_powder_gray,
.block-concrete_white,
.block-glass_lime,
.block-glazed_terracotta_light_blue,
.block-hardened_clay_stained_blue,
.block-hay_block_side,
.block-log_birch,
.block-obsidian,
.block-red_sandstone_normal,
.block-soul_sand,
.block-wool_colored_green{
	background-position-x: -1000%
}

.block-carpet_colored_lime,
.block-concrete_blue,
.block-concrete_powder_green,
.block-concrete_yellow,
.block-glass_magenta,
.block-glazed_terracotta_lime,
.block-hardened_clay_stained_brown,
.block-heavy_weighted_pressure_plate,
.block-log_birch_top,
.block-planks_acacia,
.block-redstone_block,
.block-sponge,
.block-wool_colored_light_blue{
	background-position-x: -1100%
}

.block-carpet_colored_magenta,
.block-concrete_brown,
.block-concrete_powder_light_blue,
.block-crafting_table_side,
.block-glass_orange,
.block-glazed_terracotta_magenta,
.block-hardened_clay_stained_cyan,
.block-ice,
.block-log_jungle,
.block-planks_big_oak,
.block-sand,
.block-stone,
.block-wool_colored_lime{
	background-position-x: -1200%
}

.block-carpet_colored_orange,
.block-concrete_cyan,
.block-concrete_powder_lime,
.block-diamond_block,
.block-glass_pink,
.block-glazed_terracotta_orange,
.block-hardened_clay_stained_gray,
.block-ice_packed,
.block-log_jungle_top,
.block-planks_birch,
.block-sandstone_normal,
.block-stone_andesite,
.block-wool_colored_magenta{
	background-position-x: -1300%
}

.block-carpet_colored_pink,
.block-concrete_gray,
.block-concrete_powder_magenta,
.block-dirt,
.block-glass_purple,
.block-glazed_terracotta_pink,
.block-hardened_clay_stained_green,
.block-iron_bars,
.block-log_oak,
.block-planks_jungle,
.block-sandstone_slab,
.block-stone_diorite,
.block-wool_colored_orange{
	background-position-x: -1400%
}

.block-barrier,
.block-beacon,
.block-bedrock,
.block-brick,
.block-carpet_colored_black,
.block-carpet_colored_blue,
.block-carpet_colored_brown,
.block-carpet_colored_cyan,
.block-carpet_colored_gray,
.block-carpet_colored_green,
.block-carpet_colored_light_blue,
.block-carpet_colored_lime,
.block-carpet_colored_magenta,
.block-carpet_colored_orange,
.block-carpet_colored_pink{
	background-position-y: -000%
}

.block-carpet_colored_purple,
.block-carpet_colored_red,
.block-carpet_colored_silver,
.block-carpet_colored_white,
.block-carpet_colored_yellow,
.block-clay,
.block-coal_block,
.block-coarse_dirt,
.block-cobblestone,
.block-cobblestone_slab,
.block-concrete_black,
.block-concrete_blue,
.block-concrete_brown,
.block-concrete_cyan,
.block-concrete_gray{
	background-position-y: -100%
}

.block-concrete_green,
.block-concrete_light_blue,
.block-concrete_lime,
.block-concrete_magenta,
.block-concrete_orange,
.block-concrete_pink,
.block-concrete_powder_black,
.block-concrete_powder_blue,
.block-concrete_powder_brown,
.block-concrete_powder_cyan,
.block-concrete_powder_gray,
.block-concrete_powder_green,
.block-concrete_powder_light_blue,
.block-concrete_powder_lime,
.block-concrete_powder_magenta{
	background-position-y: -200%
}

.block-concrete_powder_orange,
.block-concrete_powder_pink,
.block-concrete_powder_purple,
.block-concrete_powder_red,
.block-concrete_powder_silver,
.block-concrete_powder_white,
.block-concrete_powder_yellow,
.block-concrete_purple,
.block-concrete_red,
.block-concrete_silver,
.block-concrete_white,
.block-concrete_yellow,
.block-crafting_table_side,
.block-diamond_block,
.block-dirt{
	background-position-y: -300%
}

.block-dirt_podzol_side,
.block-emerald_block,
.block-end_stone,
.block-glass_black,
.block-glass_blue,
.block-glass_brown,
.block-glass_cyan,
.block-glass_gray,
.block-glass_green,
.block-glass_light_blue,
.block-glass_lime,
.block-glass_magenta,
.block-glass_orange,
.block-glass_pink,
.block-glass_purple{
	background-position-y: -400%
}

.block-glass_red,
.block-glass_silver,
.block-glass_white,
.block-glass_yellow,
.block-glazed_terracotta_black,
.block-glazed_terracotta_blue,
.block-glazed_terracotta_brown,
.block-glazed_terracotta_cyan,
.block-glazed_terracotta_gray,
.block-glazed_terracotta_green,
.block-glazed_terracotta_light_blue,
.block-glazed_terracotta_lime,
.block-glazed_terracotta_magenta,
.block-glazed_terracotta_orange,
.block-glazed_terracotta_pink{
	background-position-y: -500%
}

.block-glazed_terracotta_purple,
.block-glazed_terracotta_red,
.block-glazed_terracotta_silver,
.block-glazed_terracotta_white,
.block-glazed_terracotta_yellow,
.block-glowstone,
.block-gold_block,
.block-grass_side,
.block-hardened_clay,
.block-hardened_clay_stained_black,
.block-hardened_clay_stained_blue,
.block-hardened_clay_stained_brown,
.block-hardened_clay_stained_cyan,
.block-hardened_clay_stained_gray,
.block-hardened_clay_stained_green{
	background-position-y: -600%
}

.block-hardened_clay_stained_light_blue,
.block-hardened_clay_stained_lime,
.block-hardened_clay_stained_magenta,
.block-hardened_clay_stained_orange,
.block-hardened_clay_stained_pink,
.block-hardened_clay_stained_purple,
.block-hardened_clay_stained_red,
.block-hardened_clay_stained_silver,
.block-hardened_clay_stained_white,
.block-hardened_clay_stained_yellow,
.block-hay_block_side,
.block-heavy_weighted_pressure_plate,
.block-ice,
.block-ice_packed,
.block-iron_bars{
	background-position-y: -700%
}

.block-iron_block,
.block-iron_trapdoor,
.block-jukebox_top,
.block-lapis_block,
.block-leaves,
.block-light_weighted_pressure_plate,
.block-log_acacia,
.block-log_acacia_top,
.block-log_big_oak,
.block-log_big_oak_top,
.block-log_birch,
.block-log_birch_top,
.block-log_jungle,
.block-log_jungle_top,
.block-log_oak{
	background-position-y: -800%
}

.block-log_oak_top,
.block-log_spruce,
.block-log_spruce_top,
.block-magma,
.block-melon_side,
.block-mycelium_side,
.block-nether_brick,
.block-nether_brick_slab,
.block-nether_wart_block,
.block-netherrack,
.block-obsidian,
.block-planks_acacia,
.block-planks_big_oak,
.block-planks_birch,
.block-planks_jungle{
	background-position-y: -900%
}

.block-planks_oak,
.block-planks_spruce,
.block-prismarine,
.block-prismarine_bricks,
.block-prismarine_dark,
.block-purpur_block,
.block-purpur_slab,
.block-quartz_block_side,
.block-quartz_slab,
.block-red_sand,
.block-red_sandstone_normal,
.block-redstone_block,
.block-sand,
.block-sandstone_normal,
.block-sandstone_slab{
	background-position-y: -1000%
}

.block-sea_lantern,
.block-slabs_acacia,
.block-slabs_big_oak,
.block-slabs_birch,
.block-slabs_jungle,
.block-slabs_oak,
.block-slabs_spruce,
.block-slime,
.block-snow,
.block-snow_layer,
.block-soul_sand,
.block-sponge,
.block-stone,
.block-stone_andesite,
.block-stone_diorite{
	background-position-y: -1100%
}

.block-stone_granite,
.block-stone_slab,
.block-tnt_side,
.block-water_bucket,
.block-web,
.block-wool_colored_black,
.block-wool_colored_blue,
.block-wool_colored_brown,
.block-wool_colored_cyan,
.block-wool_colored_gray,
.block-wool_colored_green,
.block-wool_colored_light_blue,
.block-wool_colored_lime,
.block-wool_colored_magenta,
.block-wool_colored_orange{
	background-position-y: -1200%
}

.block-wool_colored_pink,
.block-wool_colored_purple,
.block-wool_colored_red,
.block-wool_colored_silver,
.block-wool_colored_white,
.block-wool_colored_yellow{
	background-position-y: -1300%
}

