<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <title>FAQ - MapartCraft</title>
        <meta charset="UTF-8">
        <meta name="description" content="MapartCraft">
        <meta name="author" content="rebane2001">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
		<h1>FAQ</h1>
		<h3><a href="." rel="noopener">◀ Back</a></h3>
		<h3 style="line-height: 0; padding: 10px 0 0 0">How do I get started?</h3>
		<p><a href="https://youtu.be/bJ-wX68WNHM" target="_blank" rel="noopener">Video tutorial</a></p>
		<h2>Schematic</h2>
		<p><b>What do I do with the NBT file?</b><br>
		Use it like a .schematic file</p>
		<p><b>...but I need a .schematic file!</b><br>
		Import it into <a href="https://www.mcedit-unified.net/" target="_blank" rel="noopener">MCEdit</a> and export as .schematic<br>
		You do not need a .schematic file for use with Baritone, just use Schematica and the "#schematica" command</p>
		<p><b>How can I use the NBT file?</b><br>
		You can use it with programs like <a href="https://www.mcedit-unified.net/" target="_blank" rel="noopener">MCEdit</a> and mods like <a href="https://minecraft.curseforge.com/projects/schematica" target="_blank" rel="noopener">Schematica</a>/<a href="https://minecraft.curseforge.com/projects/litematica" target="_blank" rel="noopener">Litematica</a></p>
		<p><b>But MCEdit doesn't work</b><br>
		Make sure you're using <a href="https://www.mcedit-unified.net/" target="_blank" rel="noopener">MCEdit Unified</a></p>
		<h2>Datafile</h2>
		<p><b>What do I do with the map.dat file?</b><br>
		You can use the map.dat file in singleplayer or a server you own<br>
		Go to your world's save file, then the data folder and from there you can replace map_xxx.dat files</p>
		<h2>Settings</h2>
		<p><b>Map size?</b><br>
		This will define how many maps you will create for your picture<br>
		When creating bigger maps, it's recommended to split it into multiple schematics. This can be done with the "DOWNLOAD AS 1X1 SPLIT" button, which will download your map as separate 1x1 schematics</p>
		<p><b>My image is stretched!</b><br>
		Change your map size, enable the crop option or edit your image with an image editor</p>
		<p><b>Staircasing?</b><br>
		This will make your map 3D. Doing so will give you 3 times the colors, but it'll also make the map a lot harder to build, as it is not flat</p>
		<p><b>Better color?</b><br>
		This setting will give you more natural colors. Disabling this will make the website faster and give you slightly worse colors. It is recommended to keep this enabled</p>
		<p><b>Dithering?</b><br>
		This will add grain to your image that will make it look a lot smoother. It is usually recommended to disable this for things like flat-colored artwork<br>
		Floyd-Steinberg dithering is the most accurate one, but the Ordered/Bayer dithering will usually have less artifacts and gives the image an unique style</p>
		<p><b>Add blocks under/Block to add?</b><br>
		Here you can pick the block that will be put under either important blocks (eg carpets, sand, pressure plates) or all blocks. This block will also be used for the noobline, which cannot be disabled</p>
		<p><b>Presets?</b><br>
		You can use presets to save and load block configurations. Pick your blocks and click "Save" to save them as a preset, pick a preset to load it and click "Delete" to delete the loaded preset<br>
		It is also possible to share a link for your preset with others</p>
    </body>
</html>
