<!DOCTYPE html>
<html lang="%%HTMLLANG%%">
  <head>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>MapartCraft</title>
    <meta charset="UTF-8">
    <meta name="description" content="MapartCraft">
    <meta name="author" content="rebane2001">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/spritesheet.css">
    <script src="js/tooltip.js" type="text/javascript"></script>
    <script src="js/nbt.js" type="text/javascript"></script>
    <script src="js/pako_deflate.min.js" type="text/javascript"></script>
    <script src="js/colorlist.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="languages"><a href="%%ROOTPATH%%/"><img src="%%ROOTPATH%%/img/flag/en.svg" alt="English" height="50"></a><a href="%%ROOTPATH%%/et"><img src="%%ROOTPATH%%/img/flag/et.svg" alt="Estonian" height="50"></a><a href="%%ROOTPATH%%/lt"><img src="%%ROOTPATH%%/img/flag/lt.svg" alt="Lithuanian" height="50"></a><a href="%%ROOTPATH%%/ru"><img src="%%ROOTPATH%%/img/flag/ru.svg" alt="Russian" height="50"></a><a href="%%ROOTPATH%%/de"><img src="%%ROOTPATH%%/img/flag/de.svg" alt="German" height="50"></a><a href="%%ROOTPATH%%/fr"><img src="%%ROOTPATH%%/img/flag/fr.svg" alt="France" height="50"></a><a href="%%ROOTPATH%%/zh"><img src="%%ROOTPATH%%/img/flag/zh.svg" alt="Chinese" height="50"></a><a href="%%ROOTPATH%%/eo"><img src="%%ROOTPATH%%/img/flag/eo.svg" alt="Esperanto" height="50"></a><br>%%TRANSLATIONCREDITS%%</div>
    <h1>MapartCraft</h1>
    <h3><a href="faq.html" target="_blank" rel="noopener">%%FAQ%%</a> | <a href="https://youtu.be/bJ-wX68WNHM" target="_blank" rel="noopener">%%VIDEO_TUTORIAL%%</a> | <a href="https://github.com/rebane2001/mapartcraft" target="_blank" rel="noopener">GitHub</a> | <a href="https://discord.gg/r7Tuerq" target="_blank" rel="noopener">2b2t Mapart Discord</a></h3>
    <p>%%DESCRIPTION1%%<a href="https://www.reddit.com/r/2b2t/" target="_blank" rel="noopener">2b2t</a>%%DESCRIPTION2%%<br>
    %%DESCRIPTION3%%<a href="https://redd.it/2yck3f" target="_blank" rel="noopener">%%DESCRIPTION4%%</a>%%DESCRIPTION5%%<br>
    %%DESCRIPTION6%%<span class="contactinfo" onclick="contactinfo(event)">(rebane2001#3716)</span>%%DESCRIPTION7%%<span class="contactinfo" onclick="contactinfo(event)">(<a href="https://www.reddit.com/message/compose/?to=rebane2001" target="_blank" rel="noopener">/u/rebane2001</a>)</span>%%DESCRIPTION8%%<a href="https://github.com/rebane2001/mapartcraft/issues" target="_blank" rel="noopener">GitHub</a><br>
    <b>%%FAQTEXT1%%<a href="faq.html" target="_blank" rel="noopener">%%FAQ%%</a>%%FAQTEXT2%%</b></p>
    <div id="blockselection" class="section" style="float: left;">
      <h2 id="blockselectiontitle">%%BLOCKSELECTIONTITLE%%</h2>
      <button id="fauxpresets" type="button" onClick="initCookie()">%%PRESETS%%</button>
    </div>
    <div id="mapimage" class="section" style="float: left">
      <h2>%%MAPPREVIEWTITLE%%</h2>
      <input type="file" id="imgupload" style="display: none;" /><br>
      <canvas width="128" height="128" id="displaycanvas" onclick="chooseFile()" style="float: right; width: 256px; height: 256px;"></canvas><br>
      <small data-tooltip title="%%MAPPREVIEW-TT-BESTRES%%" id="mapres">128x128</small>
      <small data-tooltip title="%%MAPPREVIEW-TT-DOESNTMATCH%%" id="mapreswarning" style="color:red;display: none">1920x1080</small>
      <img class="sizebtn" src="%%ROOTPATH%%/img/plus.png" onclick="updatePreviewScale(1)" data-tooltip title="%%MAPPREVIEW-TT-PREVPLUS%%" />
      <img class="sizebtn" src="%%ROOTPATH%%/img/minus.png" onclick="updatePreviewScale(-1)" data-tooltip title="%%MAPPREVIEW-TT-PREVMINUS%%" />
      <div id="progress"><span id="progresstext"></span><div id="progressdiv"></div></div>
    </div>
    <div id="settings" class="section" style="float: left">
      <h2>%%SETTINGSTITLE%%</h2>
      <br>
      <b data-tooltip title="%%SETTINGS-TT-MODE%%">
        %%SETTINGS-MODE%%:
        <select id="mapmode" onchange="updateMode()">
          <option selected="selected">Schematic (nbt)</option>
          <option disabled>%%SETTINGS-MODE-VISUAL-NA%%</option>
          <option>Datafile (map.dat)</option>
        </select>
      </b><br>
      <b data-tooltip title="%%SETTINGS-TT-VERSION%%">
        %%SETTINGS-VERSION%%:
        <select id="version" onchange="updateVersion()">
          <option>1.12</option>
          <option>1.12.1</option>
          <option selected="selected">1.12.2</option>
          <option>1.13.0</option>
          <option>1.13.1</option>
          <option>1.13.2</option>
          <option>1.14.0</option>
          <option>1.14.1</option>
          <option>1.14.2</option>
          <option>1.14.3</option>
          <option>1.14.4</option>
          <option>1.15.0</option>
          <option>1.15.1</option>
          <option>1.15.2</option>
        </select>
      </b><br>
      <b>%%SETTINGS-MAPSIZE%%: </b><input id="mapsizex" type="number" min="1" step="1" value="1" style="width: 2em;" onchange="updateMap()">x<input id="mapsizey" type="number" min="1" step="1" value="1" style="width: 2em;" onchange="updateMap()"><br>
      <b data-tooltip title="%%SETTINGS-TT-CROP%%" onclick="updateMap()">%%SETTINGS-CROP%%: <input id="cropimg" type="checkbox"></b><br>
      <b data-tooltip title="%%SETTINGS-TT-3D%%">%%SETTINGS-3D%%:<select id="staircasing" onchange="updateMap()">
            <option>%%SETTINGS-3D-OFF%%</option>
            <option>%%SETTINGS-3D-CLASSIC%%</option>
            <option selected="selected">%%SETTINGS-3D-OPTIMIZED%%</option>
          </select></b><br>
      <span id="unobtainiablesection" style="display: none"><b data-tooltip title="%%SETTINGS-TT-UNOBT%%" onclick="updateMap()">%%SETTINGS-UNOBT%%: <input id="unobtainiable" type="checkbox"></b><br></span>
      <b data-tooltip title="%%SETTINGS-TT-BETTERCOL%%" onclick="updateMap()">%%SETTINGS-BETTERCOL%%: <input id="bettercolor" type="checkbox" checked></b><br>
      <b data-tooltip title="%%SETTINGS-TT-DITHER%%">
        %%SETTINGS-DITHER%%:
        <select id="dither" onchange="updateMap()">
          <option>%%SETTINGS-DITHER-NONE%%</option>
          <option selected="selected">Floyd–Steinberg</option>
          <option>Bayer (4x4)</option>
          <option>Bayer (2x2)</option>
          <option>Ordered (3x3)</option>
        </select>
      </b>
      <br>
      <span id="underblockssection">
        <b>
          %%SETTINGS-UNDERBLOCKS%%:
          <select id="underblocks">
            <option>%%SETTINGS-UNDERBLOCKS-NOBLOCKS%%</option>
            <option selected="selected">%%SETTINGS-UNDERBLOCKS-IMPBLOCKS%%</option>
            <option>%%SETTINGS-UNDERBLOCKS-ALLBLOCKS%%</option>
            <option>%%SETTINGS-UNDERBLOCKS-DOUBLEBLOCKSOPT%%</option>
            <option>%%SETTINGS-UNDERBLOCKS-DOUBLEBLOCKS%%</option>
          </select>
        </b>
        <br>
        <b data-tooltip title="%%SETTINGS-TT-BLOCKTOADD%%">%%SETTINGS-BLOCKTOADD%%: <input type="text" id="underblock" value="minecraft:stone"></b>
        <br>
      </span>
      <br>
      <span id="downloadbtnsection">
        <span class="greenbtn" onclick="getNbt()" data-tooltip title="%%DOWNLOAD-TT-NBT%%" style="font-size:32px;height:50px">%%DOWNLOAD-NBT%%</span><br>
        <span class="greenbtn" onclick="getNbtSplit()" data-tooltip title="%%DOWNLOAD-TT-NBTSPLIT%%">%%DOWNLOAD-NBTSPLIT%%</span><br>
        <span class="greenbtn" onclick="getVisuals()" data-tooltip title="This feature is still work in progress, expect bugs and incomplete features">View online (prototype)</span><br>
      </span>
      <span id="downloadmapdatbtnsection" style="display: none">
        <span class="greenbtn" onclick="getMapDatSplit()" data-tooltip title="%%DOWNLOAD-TT-MAPDAT%%" style="font-size:32px;height:50px">%%DOWNLOAD-MAPDAT%%</span><br>
      </span>
      <span class="greenbtn" onclick="getPdnPalette()" data-tooltip title="%%DOWNLOAD-TT-PDN%%">%%DOWNLOAD-PDN%%</span><br>
      <span id="materialsbtnsection">
        <span class="greenbtn" onclick="getMaterials()" data-tooltip title="%%REFRESHMATERIALS-TT%%">%%REFRESHMATERIALS%%</span><br>
      </span>
      <a href="%%ROOTPATH%%/supporters" data-tooltip title="%%DONATEBUTTON-TT%%" style="text-decoration: none;">
        <span class="greenbtn">%%DONATEBUTTON%%</span><br>
      </a>
    </div>
    
    <div id="materials" class="section" style="display: none">
      <h2>%%MATERIALSTITLE%%</h2>
      <table id="materialtable">
        <tbody>
          <tr style="display: table-row;">
            <th>%%MATERIALS-BLOCK%%</th>
            <th>%%MATERIALS-AMOUNT%%</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="visualModal" class="modal">
        <span class="modalbtn close">&times;</span>
        <span class="modalbtn rotate">⭮</span>
        <span class="modalbtn config">🔧</span>
        <canvas width="2177" height="2177" id="visualcanvas"></canvas>
    </div>
    <div id="preloads">
      <img id="blocksimg" src="%%ROOTPATH%%/img/blocks.png">
      <img src="%%ROOTPATH%%/img/barrier.png">
      <img id="placeholderimg" src="%%ROOTPATH%%/img/placeholder.png">
      <img src="%%ROOTPATH%%/img/null.png">
      <img src="%%ROOTPATH%%/img/upload.png">
    </div>
  </body>
</html>
