.blockSelection {
  float: left;
}

.colourSet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.colourSetBox {
  float: left;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 12px;
  margin-right: 3px;
  margin-left: 3px;
}

