.blockImage {
  width: 32px;
  height: 32px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: #222;
  -webkit-filter: drop-shadow(0 0 0px #222);
  transition: background-color 0.2s;
}

.blockImage_selected {
  -webkit-filter: drop-shadow(0 0 4px #658968) !important;
}

.mapartController,
.sectionsPreviewSettingsMaterials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.sectionsPreviewSettingsMaterials {
  flex: 1;
}

.section {
  padding: 0.3em;
}
