.closeTextButton {
    color: var(--rebaneGreen);
    cursor: pointer;
    text-decoration: underline;
  }

.h2_FAQ {
    margin-block: 0.5em !important;
    text-decoration: underline;
}

.p_FAQ {
  margin-top: 0.1em;
}
