.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.languages img {
  cursor: pointer;
  height: 50px;
}

.flag-et_pop {
  display: none;
}

.flag-et:hover {
  display: none;
}

.flag-et:hover + .flag-et_pop {
  display: initial;
}

.imgLoadingGif {
  position: absolute;
}
