:root {
  --rebaneGreen: #7BAE7F;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");

@font-face {
  font-family: "kenpixel_mini_square";
  src: url("./kenpixel_mini_square.woff") format("woff");
}

html {
  background-color: #333;
}

h1,
h2 {
  margin: 0;
}

body {
  font-family: Lato, Open Sans, Arial;
  color: #fff;
  font-size: 16px;
  margin: auto auto;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}

a,
a:visited {
  color: var(--rebaneGreen);
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#tooltip {
  font-family: "kenpixel_mini_square";
  position: absolute;
  background: var(--rebaneGreen);
  color: #ffffff;
  padding: 0 7px 2px 7px;
}

.section {
  margin-bottom: 30px;
  margin-right: 30px;
}

th:nth-child(1) {
  padding-right: 0.2em;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: #7BAE7F5e; /* Black w/ opacity */
}

.modalbtn {
  position: absolute;
  color: #fff;
  font-weight: bold;
  line-height: 0;
  top: 20px;
}

.modalbtn:hover,
.modalbtn:focus {
  color: var(--rebaneGreen);
  text-decoration: none;
  cursor: pointer;
}

.close {
  left: 10px;
  font-size: 42px;
}

.rotate {
  left: 40px;
  font-size: 32px;
}

.config {
  left: 70px;
  font-size: 26px;
}

.displayNone {
  display: none;
}
